$sans-serif: 'Roboto', sans-serif;
$serif: 'EB Garamond', serif;

$h1-font-size: 3em;
$p-font-size: 1em;

$text-max-width: 60ch;

h1 {
    font-family: $serif;
    font-size: $h1-font-size;
    line-height: 1;
}

p {
    font-family: $sans-serif;
    max-width: $text-max-width;
    line-height: 1.4;
}